@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Dela+Gothic+One:regular);
@import url(https://fonts.googleapis.com/css2?family=Pangolin&display=swap);

.whywebsite-box {
  width: 100%;
  padding: calc(10px + 50 * (100vw / 1080));
  background-color: #06a77d;
}
.whywebsite__container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: flex-start;
}
.whywebsite__title {
  font-size: calc(10px + 7 * (100vw / 1080));
  font-family: "Dela Gothic One";
}
.whywebsite__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 65%;
  align-items: flex-start;
}
.whywebsite-block__title {
  color: #ca1057d3;
  font-size: calc(10px + 7 * (100vw / 1080));
  font-family: "Pangolin";
  font-weight: bolder;
}
.whywebsite-block__text {
  color: whitesmoke;
  font-family: "Roboto Slab";
  font-size: calc(10px + 10 * (100vw / 1080));
}
