*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.surprise-block {
    width: 100%;
    height: max-content;
    background: url('../../Assets/surprise_bg.png');
    background-position: right;
    color: whitesmoke;
}
.surprise-container {
    padding: calc(10px + 80 * (100vw / 1080));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.surprise-container__title {
    font-size: calc(20px + 45 * (100vw / 1080));
    font-weight: 700;
    font-family: "Dela Gothic One";
}
.surprise-container__text {
    font-size: 20px;
    font-family: "Roboto Slab";
}
