@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Dela+Gothic+One:regular);

.compliments {
  width: 100%;
  background: url("../../Assets/compliments_bg.png");
  background-position: right;
}

.compliments-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: calc(10px + 50 * (100vw / 1080));
}

.compliments__text-container {
  max-width: 100%;
  gap: 25px;
  display: flex;
  flex-direction: column;
}

.compliments__title {
  color: #9E0059;
  font-size: calc(20px + 30 * (100vw / 1080));
  font-family: "Dela Gothic One";
}

.compliments__content {
  color: #94637f;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.compliments__list {
  list-style: none;
  max-width: 70%;
  padding: 0;
}

.compliments__item {
  font-size: clamp(24px, 1rem, 30px);
  margin-bottom: 40px;
  font-family: "Roboto Slab";
}

@media (max-width: 1000px) {
  .compliments__list {
    max-width: 100%;
  }
}
