@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Dela+Gothic+One:regular);

.stats-box {
  width: 100%;
  padding: calc(10px + 50 * (100vw / 1080));
  background-color: whitesmoke;
}

.stats-box__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.stats-box__row {
    width: max-content;
}

.stats-box__row:first-child {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.stats-box__row:last-child {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.stats-box__item {
  height: calc(70px + 180 * (100vw / 1080));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F2F2F2;
  border-radius: 10px;
  color: #8F2D56;
}

.stats-box__row:first-child .stats-box__item:last-child, .stats-box__row:last-child .stats-box__item:first-child{
    aspect-ratio: 1;
}

.stats-box__row:first-child .stats-box__item:last-child img,
.stats-box__row:last-child .stats-box__item:first-child img {
    width: 100%;
    max-width: 50%;
    height: auto; 
    display: block; 
    aspect-ratio: 1;
}

.stats-box__item-title {
    font-family: "Dela Gothic One";
    font-size: calc(30px + 50 * (100vw / 1080));
}

.stats-box__item-content {
    font-family: "Roboto Slab";
    font-size: calc(5px + 10 * (100vw / 1080));
}
