.stats-box {
  width: 100%;
  padding: calc(10px + 50 * (100vw / 1080));
  background-color: #06a77d;
}

.stats-box__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.stats-box__row {
    width: max-content;
}

.stats-box__row:first-child {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.stats-box__row:last-child {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.stats-box__item {
  height: calc(40px + 180 * (100vw / 1080));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  box-shadow: whitesmoke 0 0 10px 1px;
  border-radius: 10px;
  color: #d11c77af;
}

.stats-box__row:first-child .stats-box__item:last-child, .stats-box__row:last-child .stats-box__item:first-child{
    aspect-ratio: 1;
}

.stats-box__row:first-child .stats-box__item:last-child img,
.stats-box__row:last-child .stats-box__item:first-child img {
    width: 100%;
    max-width: 50%;
    height: auto; 
    display: block; 
    aspect-ratio: 1;
}

.stats-box__item-title {
    font-family: "Dela Gothic One";
    font-size: calc(20px + 50 * (100vw / 1080));
}

.stats-box__item-content {
    font-family: "Roboto Slab";
    font-size: calc(7px + 10 * (100vw / 1080));
}
