.header {
  padding: 20px calc(15px + 15 * (100vw / 1080));;
  height: 100vh;
  background-color: whitesmoke;
  color: #000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.for-you-logo__container {
  width: 60px;
  height: 60px;
  filter: grayscale();
}

.for-you-logo__container img {
  width: 100%;
  border-radius: 50%;
  z-index: 2;
  aspect-ratio: 1;
  filter: drop-shadow(#000 0 0 3px);
}

.for-you {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: calc(15px + 5 * (100vw / 1080));
  font-family: "Roboto Slab", sans-serif;
}

.for-you__text {
  font-size: calc(15px + 5 * (100vw / 1080));
  font-family: "Roboto Slab", sans-serif;
}

.year {
  font-family: "Roboto Slab", sans-serif;
  font-size: calc(15px + 5 * (100vw / 1080));
  letter-spacing: 20px;
}

.header__body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header__title {
  text-align: center;
}

.beauty {
  font-family: "Dela Gothic One", sans-serif;
  font-size: clamp(70px, 12vw, 220px);
  font-weight: 700;
  color: #06A77D;
  position: relative;
}

.beauty::after {
    content: "";
    position: absolute;
    top:-10%;
    left: 10%;
    width: 80%;
    height: 120%;
    transform: rotate(20deg);
    border: #010806 solid 1.5px;
    border-radius: 50%;
    transition: all 0.4s;
}

.beauty::before {
    content: "";
    position: absolute;
    top:-10%;
    left: 10%;
    width: 80%;
    height: 140%;
    transform: rotate(40deg);
    border: #010806 solid 1.5px;
    border-radius: 50%;
    transition: all 0.4s;
}

.beauty:hover:after {
  transform: rotate(-40deg);
}

.beauty:hover::before {
  transform: rotate(-75deg);
}


@media (max-width: 810px) {
  .header {
    height: 100vh;
  }
}