@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Dela+Gothic+One:regular);

.header {
  padding: 20px 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.for-you {
  font-size: 20px;
  font-family: "Roboto Slab", sans-serif;
}

.year {
  font-family: "Roboto Slab", sans-serif;
  font-size: 20px;
  letter-spacing: 20px;
}

.header__body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  text-align: center;
}

.beauty {
  font-family: "Dela Gothic One", sans-serif;
  font-size: clamp(70px, 12vw, 220px);
  font-weight: 700;
  position: relative;
}

.beauty::after {
    content: "";
    position: absolute;
    top:-10%;
    left: 10%;
    width: 80%;
    height: 120%;
    transform: rotate(20deg);
    border: black solid 1.5px;
    border-radius: 50%;
}

.beauty::before {
    content: "";
    position: absolute;
    top:-10%;
    left: 10%;
    width: 80%;
    height: 140%;
    transform: rotate(40deg);
    border: black solid 1.5px;
    border-radius: 50%;
}


