.footer {
  padding: calc(15px + 25 * (100vw / 1080));
  background-color: #000;
  color: #fff;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: calc(40px + 60 * (100vw / 1080));
}

.footer-ul__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: calc(40px + 60 * (100vw / 1080));
}

.footer__block {
  margin-right: 20px;
}

.footer-block__ul {
  list-style: none;
  padding: 0;
}

.footer__text {
  margin-bottom: 8px;
  font-size: 15px;
  font-family: "Roboto Slab";
}
