@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Dela+Gothic+One:regular);

.from-the-heart-block {
  width: 100%;
  background-color: #5C967A;
}

.from-the-heart-container {
  display: flex;
  padding: calc(40px + 60 * (100vw / 1080));
  flex-direction: row;
}

.from-the-heart__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap:20px
}

.from-the-heart__title {
  font-family: "Dela Gothic One";
  font-size: 3rem;
  font-weight: 700;
}

.from-the-heart__text {
  font-size: clamp(20px, 1.8rem, 30px);
  line-height: 1.5;
  font-family: "Roboto Slab";
}

.from-the-heart__icon {
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  filter: grayscale();
}

.from-the-heart__icon-container {
  width: 130px;
  height: 130px;
}

.from-the-heart__icon img {
  width: 100%;
  border-radius: 50%;
  z-index: 2;
}

.from-the-heart__icon::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 20%;
  left: -20%;
  width: 20%;
  height: 90%;
  transform: rotate(120deg);
  border: black solid 1px;
  border-radius: 50%;
}

.from-the-heart__icon::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 40%;
  left: -10%;
  width: 10%;
  height: 70%;
  transform: rotate(70deg);
  border: black solid 1px;
  border-radius: 50%;
}

@media (max-width: 810px) {
  .from-the-heart-container {
    flex-direction: column;
    padding: 60px 20px;
  }
  .from-the-heart__icon img {
    width: 100%;
    border-radius: 50%;
    z-index: 2;
  }
}
